---
layout: default
title: Chronicles of Markojudas
---
<section id="blog">
    <div class="container">
        <!-- POST -->
        {% for post in paginator.posts %}
        <div class="post-date">
            {{ post.date | date: "%B %d, %Y" }}
        </div>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <br>
        <a class="button" href="{{ post.url | relative_url }}">Read</a>
        <br>
        <br>
        {% endfor %}
        <hr>
        <br>
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
        </a>
        {% else %}
        <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
        <span class="next ">Next</span>
        {% endif %}
        <hr>
        <br>
        <a class="button" href="https://markojudas.com">Back to Site</a>
    </div>
</section>